<!-- Footer Section -->
<footer class="mt-28 bg-blue p-5 pb-2 lg:p-10 lg:pb-2 h-auto">
    <div class="flex flex-col justify-center items-center text-white">
        <p>Menu</p>
        <p>Newsletter</p>
        <p>Adresse</p>
        <p>Social Network</p>
        <p>Copyright Vamos Academy 2022 | Privacy | contact@vamos.com | (243) 818 379 907</p>
        <p>Developpé par <span class="text-yellow">Bantou.Lab</span></p>
    </div>
</footer>

<!-- Animation -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Scripts -->
<script src="/public/javascripts/main.js"></script>