<header class="fixed z-50 min-w-full bg-gray-light">
    <div class="relative max-w-7xl mx-auto px-55px">
        <div class="flex justify-between items-center py-1 md:justify-start md:space-x-10">
            <div class="flex justify-start lg:w-0 lg:flex-1">
                <a href="#" class="flex justify-start items-center">
                  <span class="sr-only">Page d'accueil vamos académie</span>
                  <img class="h-7 w-auto sm:h-9" src="images/logo.jpeg" alt="logo vamos" title="embleme académie vamos">
                  <span class="font-bold text-blue text-sm">Vamos Academy</span>
                </a>
            </div>
            <div class="flex justify-end lg:w-0 lg:flex-1">
                <div class="flex justify-start items-center">
                    <a href="#" class="mx-3 font-bold text-sm text-blue transition-colors hover:text-blue-light">Sports</a>
                    <a href="#" class="mx-3 font-bold text-sm text-blue transition-colors hover:text-blue-light">Admission</a>
                    <a href="#" class="mx-3 font-bold text-sm text-blue transition-colors hover:text-blue-light">Contacts</a>
                    <a href="#" class="button mx-3">Inscription</a>
                </div>
            </div>
        </div>
    </div>
</header>