<div class=" relative h-650px bg-hero-pattern bg-cover bg-center bg-no-repeat bg min-w-full">
    <div class="max-w-7xl mx-auto px-55px sm:px-55px">
        <div class="flex justify-between items-center">
            <div class="flex justify-start items-center min-w-full h-650px pr-30%">
                <p class="text-white text-5xl font-semibold">
                    Une pedagogie unique qui allie réussite scolaire, pratique sportive intense et épanouissement personnel.
                </p>
            </div>
        </div>
    </div>
</div>