<div class=" relative h-hero-h bg-hero-pattern bg-cover bg-center bg-no-repeat bg min-w-full">
    <div class="max-w-7xl mx-auto px-55px sm:px-55px">
        <div class="flex justify-between items-center">
            <div class="flex flex-col justify-center min-w-full h-hero-h pr-30%">
                <p class="text-white text-5xl font-semibold">
                    Une pedagogie unique qui allie réussite scolaire, pratique sportive intense et épanouissement personnel.
                </p>
                <a href="#" class="button my-7">Découvrir notre école</a>
            </div>
        </div>
    </div>
</div>