<div class=" relative h-96 bg-hero-pattern bg-[length:1000px_1000px] bg-no-repeat bg-origin-border bg-scroll">
    <div class="max-w-7xl mx-auto px-55px sm:px-55px">
        <div class="flex justify-between items-center">
            <div class="flex justify-start items-center min-w-full h-96 pr-50%">
                <p class="text-blue text-3xl font-semibold">
                    Une pedagogie unique qui allie réussite scolaire, pratique sportive intense et épanouissement personnel.
                </p>
            </div>
        </div>
    </div>
</div>