<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../layouts/head'); %>
</head>
<body>
    <header>
        <%- include('../layouts/header'); %>
    </header>
    <main>
        <h1>Page Contact Vamos</h1>
    </main>
    <footer>
        <%- include('../layouts/footer'); %>
    </footer>
</body>
</html>