<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../layouts/head'); %>
</head>
<body>
    <header>
        <%- include('../layouts/header'); %>
    </header>
    <main>
        <h1 class="">Page Contact Vamos</h1>
        <h1 class="">
        <h1 class="text-3xl font-bold underline text-blue">
            Hello world!
          </h1>
    </main>
    <footer>
        <%- include('../layouts/footer'); %>
    </footer>
</body>
</html>