<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../layouts/head'); %>
</head>
<body>
    <header>
        <%- include('../layouts/header'); %>
    </header>
    <main>
        <%- include('../layouts/hero');  %>
        <div class="h-52"></div>
        <div class="h-52"></div>
        <div class="h-52"></div>
    </main>
    <footer>
        <%- include('../layouts/footer'); %>
    </footer>
</body>
</html>