<div class="relative container w-full min-h-.min-h px-2 py-14 bg-gray-light">
    <div class="flex flex-col justify-center items-center min-h-.min-h">
        <div class="flex my-4">
            <p class="text-black font-bold text-center text-2xl">
                Le plus de l'académie Vamos
            </p>
        </div>
        <div class="flex justify-center items-center">
            <div class="max-w-max px-2.5">
                <div class="flex flex-col justify-center items-center">
                    <img class="h-28 w-auto my-2" src="images/pico.png" alt="" title="">
                    <span class="my-2 text-center text-blue text-base font-semibold">
                        Entrainement de haute qualité
                    </span>
                    <p class="my-2 text-center">
                        Séances d'entrainement encardrées par des entraineurs formés et qualifiés
                    </p>
                </div>
            </div>
            <div class="max-w-max px-2.5">
                <div class="flex flex-col justify-center items-center">
                    <img class="my-2 h-28 w-auto" src="images/pico.png" alt="" title="">
                    <span class="my-2 text-center text-blue text-base font-semibold">
                        Entrainement de haute qualité
                    </span>
                    <p class="my-2 text-center">
                        Séances d'entrainement encardrées par des entraineurs formés et qualifiés
                    </p>
                </div>
            </div>
            <div class="max-w-max px-2.5">
                <div class="flex flex-col justify-center items-center">
                    <img class="my-2 h-28 w-auto" src="images/pico.png" alt="" title="">
                    <span class="my-2 text-center text-blue text-base font-semibold">
                        Entrainement de haute qualité
                    </span>
                    <p class="my-2 text-center">
                        Séances d'entrainement encardrées par des entraineurs formés et qualifiés
                    </p>
                </div>
            </div>
            <div class="max-w-max px-2.5">
                <div class="flex flex-col justify-center items-center">
                    <img class="my-2 h-28 w-auto" src="images/pico.png" alt="" title="">
                    <span class="my-2 text-center text-blue text-base font-semibold">
                        Entrainement de haute qualité
                    </span>
                    <p class="my-2 text-center">
                        Séances d'entrainement encardrées par des entraineurs formés et qualifiés
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>